body {
  font-family: 'Quicksand', sans-serif;
}

.no-padding {
  padding: 0;
}

.full-cover {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-header {
  background: #77aaff;
}

.bg-navbar {
  background: #5588ff;
}

.profile-picture {
  width: 120px;
}

a.nav-link:link {
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 1.0em;
}

a.nav-link:hover {
  color: #1976d2;
}

a.nav-link:active {
  color: #1976d2;
}

.padding-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-section {
  padding-top: 20px;
  padding-bottom: 40px;
}

.font-bold {
  font-weight: 700;
}

.font-profile {
  font-size: 1.0em;
}

.font-portofolio {
  font-size: 1.1em;
}

.icon:hover i {
  color: #42a5f5;
  cursor: default;
}

.icon:hover p {
  cursor: default;
}

.text-justify {
  text-align: justify;
  line-height: 25px;
}

.padding-right-left {
  padding-left: 5px;
  padding-right: 5px;
}

.margin-top-social {
  margin-top: 20px;
}

.margin-right-left {
  margin-right: 5px;
  margin-left: 5px;
}

.footer-name {
  font-size: 1.8em;
}

.bottom-sheet {
  max-height: 75% !important;
}